<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="common_script">
    <!-- START PLUGINS -->
    <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/simple-datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/select2/4.0.5/select2.min.js}"></script>
    <!-- END PLUGINS -->
    <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script type="text/javascript" th:src="@{/js/common-api.js}"></script>
    <script type="text/javascript" th:src="@{/js/common-ajax.js}"></script>
    <script type="text/javascript" th:src="@{/js/common-dialog.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/changePassword.js}"></script>
</div>
</html>
