<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}"
      th:with="title='ユーザ管理'">
<body>
    <!-- start: contents -->
    <div layout:fragment="main_contents" th:object="${usersDetailForm}">
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong th:text="ユーザ__*{dispMode.text}__完了">ユーザ登録完了</strong>
                            </h3>
                        </div>

                        <!-- START メッセージ表示部 -->
                        <div th:replace="common/message :: common_message_box('success',${successMessages})"></div>
                        <!-- END メッセージ表示部 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a class="btn btn-info btn-block btn-lg" th:href="@{/system/users/{page}/(page = *{page})}">ユーザ一覧に戻る</a>
        </div>

        <!-- END PAGE CONTENT WRAPPER -->
        <th:block th:insert="~{common/script :: common_script}"></th:block>
    </div>
    <!-- end: contents -->

</body>
</html>
