<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}"
      th:with="title='権限管理'">
<body>
    <!-- start: contents -->
    <div layout:fragment="main_contents">
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" th:action="@{#}" class="form-horizontal" th:object="${permissionsSearchForm}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>権限一覧</strong>
                                </h3>
                            </div>
                            <!-- START メッセージ表示部 -->
                            <div th:replace="~{common/message :: common_message_box('success',${successMessages})}"></div>
                            <div th:replace="~{common/message :: common_message_box('danger',${errorMessages})}"></div>
                            <div th:replace="~{common/message :: common_message_box('warning',${warningMessages})}"></div>
                            <!-- END メッセージ表示部 -->

                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label"> <span class="badge badge-danger"></span> <span class="form-item-name">権限名</span>
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group col-md-12"><div class="div-flex">
                                                <input type="text" class="form-control" maxlength="20" th:field="*{searchPermRoleName}" style="width: 300px;" />
                                                <div>
                                                    <span class="help-block" style="width: 100px; color: red">※部分一致</span>
                                                </div></div>
                                                <span th:if="*{#fields.hasErrors('searchPermRoleName')}" th:errors="*{searchPermRoleName}" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a th:if="${writeFlag}" th:href="@{/system/permissions/detail/}" class="btn btn-success btn-default btn-submit"> <i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i>新規作成
                            </a>
                            <div style="display: flex;" class="pull-right">
                                <button type="submit" style="margin-left: 10px;" class="btn btn-primary btn-submit" th:formaction="@{/system/permissions/}">
                                    <i class="fa fa-search" aria-hidden="true"></i>検索
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 80px;">ID</th>
                                        <th>権限名</th>
                                        <th colspan="2">操作</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${pager} neq null">
                                    <tr th:each="permission : ${pager.list}" role="row" class="odd">
                                        <td th:text="${permission.permRoleId}">権限ID</td>
                                        <td th:text="${permission.permRoleName}">権限名</td>
                                        <td style="width: 70px;">
                                            <button th:if="${writeFlag}" class="btn btn-danger btn-sm delBtn" id="delBtn" th:value="${permission.permRoleId}">削除</button>
                                            <input type="hidden" name="permRoleName" class="permRoleName" th:value="${permission.permRoleName}" />
                                        </td>
                                        <td style="width: 70px;">
                                            <form method="post" th:action="@{#}">
                                                <input type="hidden" name="permRoleId" th:value="${permission.permRoleId}" />
                                                <input type="hidden" name="page" th:value="${permissionsSearchForm.page}" />
                                                <button th:if="${writeFlag}" type="submit" class="btn btn-info btn-sm double-click" th:formaction="@{/system/permissions/detail/}">変更</button>
                                                <button th:if="!${writeFlag}" type="submit" class="btn btn-info btn-sm double-click"
                                                    th:formaction="@{/system/permissions/detail/content/}">確認</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div th:replace="~{common/paginate :: pagination('/system/permissions/',${pager})}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="delForm" method="post" th:action="@{/system/permissions/delete/}">
            <input type="hidden" name="permRoleId" id="permRoleId"/>
            <input type="hidden" name="permissionRoleName" id="permissionRoleName"/>
        </form>
        <div th:insert="~{common/modal :: customDialog}"></div>
        <th:block th:insert="~{common/script :: common_script}"></th:block>
        <script type="text/javascript" th:src="@{/js/system/permissions/index.js}"></script>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</body>
</html>
